@import "../variables.scss";

.atelier-couture {
  display: flex;
  align-items: center;
  .content {
    display: flex;
    align-items: center;
    .description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      h3 {
        color: $royal-blue;
        font-family: Poppins;
        font-style: normal;
        font-weight: 900;
        letter-spacing: 1px;
      }
      .text {
        color: $dark-grey;
        text-align: justify;
        font-family: "Source Sans 3";
        font-style: normal;
        letter-spacing: 0.72px;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 508px) {
  .atelier-couture {
    background: $off-white;
    height: auto;
    padding: 15px 15px 15px 30px;
    border-radius: 0px 20px 20px 0px;
    margin-right: 15px;

    .content {
      flex-direction: column;
      justify-content: center;
      gap: 15px;

      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px 15px 0px 0px;
      }
      .description {
        border-radius: 20px;
        h3 {
          font-size: 18px;
        }
        .text {
          padding: 10px 0 25px 0;
          font-size: 14px;
          font-weight: 600;
          line-height: 17px;
        }
      }
    }
    
  }
}

@media (min-width: 509px) and (max-width: 768px) {
  .atelier-couture {
    background: $off-white;
    height: auto;
    padding: 15px 15px 15px 30px;
    border-radius: 0px 30px 30px 0px;
    margin-right: 15px;

    .content {
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px 25px 0px 0px;
      }
      .description {
        h3 {
          font-size: 21px;
        }
        .text {
          padding: 10px 0 25px 0;
          font-size: 16px;
          font-weight: 600;
          line-height: 20px;
        }
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .atelier-couture {
    background: $off-white;
    height: auto;
    padding: 23px 23px 23px 63px;
    border-radius: 0px 30px 30px 0px;
    margin-right: 40px;

    .content {
      flex-direction: column;
      justify-content: center;
      gap: 25px;
      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px 25px 0px 0px;
      }
      .description {
        h3 {
          font-size: 25px;
        }
        .text {
          padding: 10px 0 25px 0;
          font-size: 19px;
          font-weight: 600;
          line-height: 24px;
        }
      }
    }
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .atelier-couture {
    background: $off-white;
    height: auto;
    padding: 28px 28px 28px 90px;
    border-radius: 0px 45px 45px 0px;
    margin-right: 62px;

    .content {
      flex-direction: column;
      justify-content: center;
      gap: 30px;
      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 35px 35px 0px 0px;
      }
      .description {
        h3 {
          font-size: 30px;
          font-weight: 850;
      }
        .text {
          padding: 10px 0 40px 0;
          font-size: 21px;
          font-weight: 600;
          line-height: 24px;
        }
      }
    }
  }
}

@media (min-width: 1201px) {
  .atelier-couture {
    background: $off-white;
    height: auto;
    padding: 30px 30px 30px calc(5vw + 30px);
    border-radius: 0px 45px 45px 0px;
    margin-right: 5vw;

    .content {
      flex-direction: row;
      gap: 30px;
      .image {
        width: 60%;
        object-fit: cover;
        border-radius: 35px;
      }
      .description {
        h3 {
          font-size: 32px;
          font-weight: 850;
        }
        .text {
          padding: 10px 0 40px 0;
          font-size: 22px;
          font-weight: 600;
          line-height: 27px;
        }
      }
    }
  }
}
